<footer class="main-footer">
    <div class="footer-content">
        <img src="../assets/images/cosave_logo.png" alt="Logo" class="footer-logo">
        
        <div class="footer-section">
            <h4>Address</h4>
            <p>Jl. Teknik Kimia, Keputih, Kec Sukolilo,<br>Surabaya, Jawa Timur 60111</p>
        </div>
        
        <div class="footer-section">
            <h4>Contact</h4>
            <p>Telp : 123-456-7890<br>Email : cosave@gmail.com</p>
        </div>
        
        <div class="footer-section">
            <h4>Service</h4>
            <ul>
                <p>Home</p>
                <p>Fitur</p>
                <p>FAQ</p>
            </ul>
        </div>
    </div>
    
    <div class="footer-bottom">
        <p>@ 2025 coSave. start small, save smart with cosave</p>
        <div class="footer-links">
            <a href="#">Terms</a>
            <a href="#">Privacy</a>
            <a href="#">Contact</a>
        </div>
    </div>
</footer>